<title> Login</title>
<section class="loginform cf">
		<form name="login" ng-submit="formSubmit()" accept-charset="utf-8">
			<ul>
				<li>
					<label for="usermail">Email</label>
					<input type="email" ng-model="usermail" name="usermail" placeholder="yourname@email.com" required>
				</li>
				<li>
					<label for="password">Password</label>
					<input type="password" ng-model="password" name="password" placeholder="password" required></li>
				<li>
					<input  type="submit" value="Login">
				</li>
			</ul>
		</form>
	</section>